/* Global styling */
html,
body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Main styling */
.account-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.account-box {
    display: flex;
    flex-direction: column;
}

.signout_button {
    margin: auto;
    cursor: pointer;
    height: 3rem;
    width: 7rem;
    background-color: transparent;
    border: 3px solid #e40000;
    border-radius: 0.25rem;
    color: #e40000;
    font-size: 1rem;
    font-weight: 700;
    transition: 0.5s;
}

.signout_button:hover {
    background-color: #e40000;
    color: #ffffff;
    border: transparent;
}

/* Footer styling */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
}
