/* Global styling */
html,
body {
	font-family: "Courier New", Courier, monospace;
	margin: 0;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

button {
	cursor: pointer;
	transition: 0.25s;
}

/* Navigation Styling */
nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.title {
	margin: 1rem;
}

.nav_links {
	display: flex;
	margin: 0.5rem;
}

.nav_links button {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 3rem;
	width: 3rem;
	justify-items: center;
	background-color: transparent;
	transition: 0.25s;
	border: transparent;
	border-radius: 2rem;
}

.nav_links button:hover {
	background-color: #dbf1ff;
}

.nav_links a:hover {
	background-color: #dbf1ff;
}

.auth_container {
	display: flex;
	justify-content: center;
	margin: auto;
}

.auth_box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 25rem;
	height: 25rem;
}

.emoji {
	font-size: 3rem;
}

.welcome_text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.email {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-bottom: 0.5rem;
}

.email label {
	font-weight: 600;
}

.password {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-bottom: 0.5rem;
}

.password label {
	font-weight: 600;
}

.auth_title {
	margin-bottom: 0;
}

.signin_button {
	padding: 0.5rem;
	width: 7rem;
	color: #ffffff;
	background-color: #65558f;
	border: 1px solid #65558f;
	border-radius: 2rem;
	font-weight: 800;
}

/* Footer styling */
footer {
	background-color: #333;
	color: white;
	text-align: center;
	padding: 10px;
	position: relative;
	bottom: 0;
}
