.auth_nav {
	display: flex;
	justify-content: space-between;
}

.auth_nav_links {
	display: flex;
	justify-content: center;
	align-self: center;
}

.auth_container {
	display: flex;
	justify-content: center;
}

.auth_box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 25rem;
	height: 25rem;
}

.welcome_text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.email {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.password {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
